{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}




    <h1>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
            bonjour untel vous êtes bien connecté ✅
        {% else %}
            bonjour  quelqu'un
        {% endif %} </h1>

    <div id="wrap">
        <ul class="navbar">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('app_logout') }}">déconnexion</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
